@font-face {
    font-family: 'SF Pro Display';
    src        : url(../assets/font/SF-Pro-Display-Regular.otf) format('opentype');
    font-style : normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src        : url(../assets/font/SF-Pro-Text-Regular.otf) format('opentype');
    font-style : normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src        : url(../assets/font/SF-Pro-Rounded-Regular.otf) format('opentype');
    font-style : normal;
}

/*--------------------------------------------------

 font-family: 'SF Pro Display', sans-serif;
 font-family: 'SF Pro Text', sans-serif;
 font-family: 'SF Pro Rounded', sans-serif;

--------------------------------------------------*/