* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

* body {
  width     : 100%;
  transition: all 1s ease;
}

.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  margin-top     : 256px;
  border         : thin solid #000;
}

.container input[type=checkbox] {
  display: none;
}

.box {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  width           : 72px;
  height          : 36px;
  border-radius   : 36px;
  transition      : all 1s ease;
  position        : relative;
  background-color: #000;
  cursor          : pointer;
}

.box .ball {
  width           : 36px;
  height          : 36px;
  background-color: #808080;
  transition      : all 1s ease;
  position        : absolute;
  border-radius   : 50%;
  border          : thin solid #808080;
}

.box .scenary {
  width          : 36px;
  height         : 36px;
  display        : flex;
  justify-content: space-between;
  transition     : all 1s ease;
  padding        : 5px 10px 0px 10px;
}